@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, p, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
  font-family: 'Inter', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  letter-spacing: 0.5px;
}

p {
  margin-bottom: 0 !important;
}

html, body {
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
}

body.font-loaded {
  font-family: 'Inter', Arial, sans-serif;
}

.bt1{
  background-color: #DF5959;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 48px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}


.bt2{
  background:none;
  border:1px solid #5B8DF9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 48px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.bt1:hover, .bt2:hover{
  filter: brightness(120%);
}

.firstcontent{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bgblack{
  background-color: black;
}

.bgblue{
  background-color: #01121c;
}

h1{
  font-size: 48px;
  font-weight: 600;
}


h2{
  font-size: 40px;
  font-weight: 600;
}


h3{
  font-size: 32px;
  font-weight: 600;
}


h4{
  font-size: 24px;
  font-weight: 600;
}

.p18{
  font-size: 18px;
  font-weight:300;
}

.p18{
  font-size: 16px;
  font-weight:300;
}

.p14{
  font-size: 14px;
  font-weight:300;
}

.color1{
  color: #DF5959;
}


.color2{
  color: #5B8DF9;
}







@media(max-width: 1000px){
  h1{
    font-size: 36px;
  }
  
  
  h2{
    font-size: 32px;
  }
  
  
  h3{
    font-size: 24px;
  }
  
  
  h4{
    font-size: 20px;
  }

  .p18{
    font-size: 16px;
  }
  
  .p14{
    font-size: 12px;
  }
      
  .p16{
    font-size: 14px;
  }
  .bt1{
    font-size: 12px;
  }


}