.info1content{
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    gap:2rem;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
}

.ctt1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    gap:2rem;
    color: white;
}

.ctt1 h2{
    color:#DF5959;
}

.imgcontent {
    position: relative; /* Certifique-se de que a posição do contêiner é relativa */
    width: 390px;
    height: 330px;
    background-image: url('/img/imgbanner1.png');
    background-size: cover;
    background-position: left center;
    border-radius: 30px 20px 30px 0;
}

.imgcontent::after {
    content: ""; /* Adiciona conteúdo vazio para que o pseudo-elemento seja exibido */
    position: absolute; /* Usar absolute para posicionar em relação ao pai */
    top: 0; /* Alinha o topo */
    left: 0; /* Alinha à esquerda */
    width: 380px; /* Largura igual ao pai */
    height: 330px; /* Altura igual ao pai */
    background-image: url('/img/retbanner2.png');
    background-size: cover;
    background-position: left center;
    z-index: 1; /* Garante que o pseudo-elemento esteja acima do conteúdo da classe .imgcontent */
    transform: translateX(-5%) translateY(-9%);
}


@media(max-width: 1000px){
    .info1content{
        flex-direction: column-reverse;
        gap:4rem;
        padding: 2rem;
        max-width: 90%;
    }
    .ctt1{
        align-items: center;
    }
    .imgcontent {
        position: relative; /* Certifique-se de que a posição do contêiner é relativa */
        width: 360px;
        height: 310px;
        background-image: url('/img/imgbanner1.png');
        background-size: cover;
        background-position: left center;
    }
    
        
    .imgcontent::after {
        content: ""; /* Adiciona conteúdo vazio para que o pseudo-elemento seja exibido */
        position: absolute; /* Usar absolute para posicionar em relação ao pai */
        top: 0; /* Alinha o topo */
        left: 0; /* Alinha à esquerda */
        width: 360px; /* Largura igual ao pai */
        height: 310px; /* Altura igual ao pai */
        transform: translateX(3%) translateY(-3%);
    }
}